<!DOCTYPE html>
<html>
<head>
  <title>ActiveadminJobs</title>
  <%= stylesheet_link_tag    "activeadmin_jobs/application", media: "all" %>
  <%= javascript_include_tag "activeadmin_jobs/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
